.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  gap: 50px;
}

.header a:hover {
  color: var(--c6);
}
